.movies-card{
  display: flex !important;
  cursor: pointer;
}

.movie-poster{
  height: 200px !important;
  width: 100% !important;
  object-fit: cover !important;
}

.pagination-info{
  align-items:center !important;
  justify-content: center !important;
}

.movie-details{
  align-items: center !important;
  margin-left: 10px !important;
  justify-content: center !important;
  justify-items: center;
}

.movie-details-img{
  height: 200px !important;
  width: 100% !important;
  object-fit: cover !important;
}
